@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.lead_container {
  width: 100vw;
  min-height: 1000px;
  padding: 20px;
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
}

.header {
  height: 75px;
  width: 100%;
  background-color: darkgray;
}

.header .logo {
  height: 75px;
  width: auto;
  position: absolute;
  right: 50px;
}

.title {
  width: 60%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.title img {
  width: 100%;
}

.section {
  width: 100%;
  height: 500px;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
}

.media {
  display: block;
  width: 150px;
  margin: 0 auto;
}

.img_container {
  max-width: 137.52455796px;
  height: auto;
}

.img_container img {
  width: 100%;
  height: auto;
}

.promo {
  position: relative;
  top: 120px;
  width: 350px;
  height: 225.80645161px;
  overflow: auto;
  margin: 0 auto;
}

#natu,
#choco,
#coco,
#prote,
#cookie {
  position: absolute;
}

#natu {
  left: 0;
}

#choco {
  left: 105.0000105px;
}

#coco {
  right: 0;
}

#prote {
  bottom: 50.17921147px;
  left: 57.49958929px;
}

#cookie {
  bottom: 50.17921147px;
  right: 58.75440658px;
}

.location {
  margin: 0 auto;
  display: block;
}

.location #brsq {
  width: 35%;
  height: auto;
}

.location #map {
  width: 100%;
  height: auto;
}

#clockdiv {
  width: 100%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#clockdiv > div {
  padding: 10px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  border-radius: 3px;
  background: #38a9fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#clockdiv div > span {
  padding: 15px;
  position: relative;
  margin: 0 auto;
  border-radius: 3px;
  background: #e7e7e7;
  display: inline-block;
  color: #1c1c1b;
  font-weight: bold;
  font-size: 1.5em;
}

.smalltext {
  padding-top: 5px;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  color: #FFF;
}

.sponsors {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 80px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tira {
  -ms-flex-preferred-size: 98%;
      flex-basis: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date_img {
  width: 100%;
}

.sponsor_item {
  width: 18%;
  padding: 3%;
}

.sponsor_item img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.sponsor_item:nth-last-child(1) {
  border: 0;
  padding: 0 3%;
}

#hpb {
  width: 23%;
}

#ikr {
  width: 15%;
}

#brsq {
  width: 30%;
}

#rbk {
  width: 24%;
}

#profit {
  width: 25%;
}

#trs {
  width: 21%;
}

footer {
  height: 70px;
  width: 100%;
  background-color: darkgray;
  position: relative;
  bottom: 0;
  left: 0;
}

footer span {
  margin-top: 10px;
  padding: 20px;
  float: right;
  font-size: 1.2em;
  font-weight: bold;
  color: #FFF;
}

