@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.lead_container {
  width: 100vw;
  min-height: 1000px;
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
}

.header {
  height: 75px;
  width: 100%;
  background-color: darkgray;
}

.header .logo {
  height: 75px;
  width: auto;
  position: absolute;
  right: 50px;
}

.title {
  width: 60%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.title img {
  width: 100%;
}

.section {
  margin-top: 30px;
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
}

.alto {
  height: 240px;
}

.info p {
  margin: 0 auto;
  font-size: 2.5em;
}

.inner {
  float: left;
  width: auto;
  padding: 10px;
  margin-right: auto;
}

.inner span {
  font-size: 1.4em;
}

.social {
  padding-left: 10px;
  padding-top: 20px;
  display: inline-block;
  width: 35%;
}

.img_container {
  max-width: 7.85854617em;
  height: auto;
}

.img_container img {
  width: 100%;
  height: auto;
}

#promo_sec {
  background-color: #36a8fb;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.potes {
  position: relative;
  width: 20em;
  height: 12.90322581em;
  overflow: auto;
  margin: auto;
}

.leyenda {
  width: 75%;
  display: inline-block;
  position: relative;
  bottom: 25px;
  margin: 0 auto;
  color: #FFF;
  text-shadow: 2px 2px 4px #000000;
  font-size: 1.6em;
  line-height: 1em;
  font-weight: bold;
}

#natu,
#choco,
#coco,
#prote,
#cookie {
  position: absolute;
}

#natu {
  left: 0;
}

#choco {
  left: 6.0000006em;
}

#coco {
  right: 0;
}

#prote {
  bottom: 2.86738351em;
  left: 3.28569082em;
}

#cookie {
  bottom: 2.86738351em;
  right: 3.35739466em;
}

.location {
  margin: 0 auto;
  display: block;
}

.location #brsq {
  width: 35%;
  height: auto;
}

#countdown {
  width: 95%;
  height: 140px;
  text-align: center;
  background: #222;
  background-image: -o-linear-gradient(top, #222, #333, #333, #222);
  border: 1px solid #111;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  margin: auto;
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#countdown:before {
  content: "";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: block;
  position: absolute;
  top: 48px;
  left: -10px;
}

#countdown:after {
  content: "";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: block;
  position: absolute;
  top: 48px;
  right: -10px;
}

#countdown #tiles {
  position: relative;
  z-index: 1;
}

#countdown #tiles > span {
  width: 20%;
  max-width: 92px;
  font: bold 2.5em 'Droid Sans', Arial, sans-serif;
  text-align: center;
  color: #111111;
  background-color: #ddd;
  background-image: -o-linear-gradient(top, #bbb, #eee);
  border-top: 1px solid #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  margin: 0 7px;
  padding: 18px 0;
  display: inline-block;
  position: relative;
}

#countdown #tiles > span:before {
  content: "";
  width: 100%;
  height: 13px;
  background: #111;
  display: block;
  padding: 0 3px;
  position: absolute;
  top: 41%;
  left: -3px;
  z-index: -1;
}

#countdown #tiles > span:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #eee;
  border-top: 1px solid #333;
  display: block;
  position: absolute;
  top: 48%;
  left: 0;
}

#countdown .labels {
  width: 100%;
  height: 25px;
  text-align: center;
  position: absolute;
  bottom: 8px;
}

#countdown .labels li {
  width: 24%;
  font: bold 15px 'Droid Sans', Arial, sans-serif;
  color: #ff7361e8;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

.map {
  width: 95%;
}

.sponsors {
  height: auto;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tira {
  margin-top: 12px;
  -ms-flex-preferred-size: 98%;
      flex-basis: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date {
  width: 75%;
  float: left;
  margin-top: 15px;
  background-color: #36a8fb;
}

.date span {
  letter-spacing: 0.2em;
  font-size: 0.8em;
  color: #FFF;
  padding: 5px;
  margin-right: 1em;
  float: right;
  font-weight: 500;
}

.sponsor_item {
  width: 24%;
  padding: 0 3%;
}

.sponsor_item img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.sponsor_item:nth-last-child(1) {
  border: 0;
  padding: 0 3%;
}

#hpb {
  width: 28%;
}

#ikr {
  width: 21%;
}

#profit,
#brsq,
#trs,
#rbk {
  width: 48%;
}

footer {
  height: 100px;
  width: 100%;
  background-color: darkgray;
  position: relative;
  bottom: 0;
  left: 0;
}

.h_logo {
  width: 65%;
  position: absolute;
  top: 0;
  right: 0;
}

.h_logo .cta {
  margin-top: 4px;
  font-size: 0.8em;
  font-weight: bold;
  color: #FFF;
}

.h_logo img {
  width: 50%;
  background-size: cover;
}

.h_logo a {
  height: auto;
}

.firma {
  overflow: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.firma p {
  font-size: 0.8em;
  font-weight: bold;
  color: #FFF;
  display: inline-block;
  float: right;
  margin-right: 12px;
}

.firma #instagram {
  position: absolute;
  right: 30px;
}

@media (min-width: 420px) {
  .date {
    width: 70%;
  }

  .date span {
    font-size: 0.9em;
  }
}

@media (min-width: 620px) {
  .leyenda {
    width: 60%;
  }

  .date span {
    font-size: 1.2em;
  }

  .inner {
    padding: 0 10px;
  }

  .map {
    width: 80%;
  }

  #countdown {
    width: 66%;
  }

  #countdown .labels li {
    width: 17%;
  }

  .sponsor_item {
    width: 18%;
  }

  #hpb {
    width: 23%;
  }

  #ikr {
    width: 15%;
  }

  #brsq {
    width: 30%;
  }

  #rbk {
    width: 24%;
  }

  #profit {
    width: 25%;
  }

  #trs {
    width: 21%;
  }

  .h_logo img {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .leyenda {
    width: 50%;
  }

  .date span {
    font-size: 1.4em;
  }

  .h_logo img {
    width: 35%;
  }
}

@media (min-width: 1024px) {
  .date span {
    font-size: 1.6em;
  }

  .map {
    width: 60%;
  }

  #countdown {
    width: 57%;
  }

  .h_logo img {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  #countdown {
    width: 50%;
  }
}

@media (min-width: 1350px) {
  #countdown {
    width: 40%;
  }

  .h_logo {
    padding-left: 5%;
  }

  .h_logo img {
    width: 20%;
  }
}

