
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// // Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

$primary-color: #88C542;

.App {
    display: flex;

}
.sectionContainer {
    background-color: $primary-color;
}

.column {
    flex-basis: 48%;
    
}


    
