
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// // Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

$primary-color: #88C542;

$promo-width: 350px;
$promo-height:$promo-width/1.55;
$img_container_max-width: $promo-width/2.545;
$choco-left:$promo-width/3.333333;
$prote-left: $promo-width/6.087;
$proteYcookie-bottom: $promo-height/4.5;
$cookie-right:$promo-width/5.957;





.lead_container{
    width:100vw;
    min-height:1000px;
    padding: 20px;
    position:relative;
    margin: 0 auto;
    background-color:#ffffff;
}

.header {
    height: 75px;
    width:100%;
    background-color: darkgray;
    .logo{
        height:75px;
        width:auto;
        position: absolute;
        right: 50px;
    }
}
.title {
    width: 60%;
    overflow:hidden;
    position: relative;
    margin: 0 auto;
    img {
        width:100%;
        
    }
}
.section {
    width: 100%;
    height: 500px;
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
}
.media {
    display: block;
    width: 150px;
    margin: 0 auto;
}
.img_container {
    max-width:$img_container_max-width;
    height: auto;
    img {
        width:100%;
        height:auto;
    }
}
.promo {
    position: relative;
    top:120px;
    width:$promo-width;
    height: $promo-height;
    overflow:auto;
    margin: 0 auto;
}
#natu, #choco, #coco, #prote, #cookie {
    position:absolute;
}
#natu {
    left:0;
}
#choco {
    left: $choco-left;
}
#coco {
   right: 0;
}
#prote {
   bottom: $proteYcookie-bottom;
   left: $prote-left
}
#cookie {
    bottom: $proteYcookie-bottom;
    right: $cookie-right;
}


.location {
    margin: 0 auto;
    display: block;
    #brsq {
        width:35%;
        height:auto;
    }
    #map {
        width:100%;
        height: auto;
    }

}

// TIMER COUNTDOWN ----------
// #countdown {
//     font-size : 2em;
//     font-weight : bold;
// }
#clockdiv {
    width: 100%;
    margin: 50px auto;
    display:flex;
    align-items:center;
    justify-content: space-between;
   

}
#clockdiv>div {
    padding: 10px;
    flex-basis:20%;
    border-radius: 3px;
    background: #38a9fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#clockdiv div>span {
    padding: 15px;
    position: relative;
    margin: 0 auto;
    border-radius: 3px;
    background: #e7e7e7;
    display: inline-block;
    color: #1c1c1b;
    font-weight: bold;
    font-size: 1.5em;
}

.smalltext {
   padding-top: 5px;
   font-size: 20px;
   font-family: Roboto,
   sans-serif;
   color: #FFF;
}

// ----------------------------

.sponsors{
    height: auto;
    width:100%;
    overflow:hidden;
    position: absolute;
    bottom: 80px;
    padding: 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.date_img {
    width:100%;
}
.sponsor_item{

    img {
        height:48px;
        width:auto;
        display:inline-block;

    }
}
#hpb {
    width:120px;
    height: auto;
}
#ikr {
    width: 64px;
    height: auto;
}
#trs{
    width: auto;
}

footer {
    height: 70px;
    width:100%;
    background-color: darkgray;
    position:relative;
    bottom:0;
    left:0;
    span{
        margin-top:10px;
        padding:20px;
        float:right;
        font-size:1.2em;
        font-weight: bold;
        color:#FFF;
    }
}