

/* #88C542  verde
#30499B  azul
#EB7B2D  naranja  */

.App {
  text-align: center;
  
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #2e6da4;
  height: 150px;
  padding: 20px;
  color: #FFF;
}

.App-title {
  font-weight: bold;
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}
.teamCard {
 width: 100%;
 height: 80px;
 border: 1.5px solid #2e6da4;
 margin: 5px 0;
 position: relative;
 background-color: rgb(246, 252, 240);
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}
.teamCard h2,
.teamCard h3,
.teamCard .id,
.teamCard .score {
  color: rgba(65, 63, 63, 0.966)
}
.teamCard .teamName {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0px;
  position: relative;
  top: 0;
  left: 0;
  padding: 5px;
}
  .teamCard .athletes {
  font-size: 1em;
  margin: 5px 0;
  padding: 5px;
}
.teamCard .id{
  font-size: 1em;
  margin: 0px;
  display: inline;
  position: absolute;
  top: 0;
  right: 5px;
  padding: 5px;
}
.teamCard .score {
   font-size: 1em;
   margin: 0px;
   display: inline;
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 5px;
}


.eventForm {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 15px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.05em;
  overflow: hidden;
  border: 1px solid black;
}
.eventFormField {
  flex-basis: 37%;
  margin:0 15px;
  padding: 5px;
}
.eventFormField label {
  float: left;
  margin: 0 10px;
  padding: 10px 0;
}
.eventFormField .input {
  margin: 10px;
  float: left;
}
#tiebreakCheck {
  position: relative;
  top: 5px;
  right: 5px;
}
.qtiebreaks {
 position: absolute;
 bottom: 75px;
 left: 170px;
}
.submitEvent {
  width: 50%;
  margin: 0 auto;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.radioTeam {
  display:inline-block;
  margin: 10px 20px;
}

/* .leaderboard_table {
  background-color:#91C3FF;
} */
.btn_leaderboard {
  font-size: 1.6em;
}

.btn_section {
  display:block;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin: 0 auto;
  width: 80%;
}

.theList {
  padding: 0px;
  margin: 0px;
  width:100%;
}

.listItem {
  list-style: none;
  border-bottom: 1px solid black;
}
.listItem:nth-child(2n) {
  background-color: lavender;
}
.listItem:nth-child(2n+1) {
  background-color: #F2F1EF;
}
.listItem:nth-last-child(1) {
  border-bottom: 0px solid #FFF;
}
.itemDiv {
  display:flex;
  
}
.tiebreakCell {
  flex-basis: 5%;
}
#wod {
  overflow: hidden;
}

.leftNav {
  width: 20%;
  height: 100vh;
  position: fixed;
  float: left;
}
.sectionContainer {
  width: 75%;
  float: right;
  margin-right: 5%;
}

.section {
  margin: 0 auto;
  
}

.teamHeading {
  height:66px;
}
.gridEvents {
  display: grid !important;
  grid-template-columns: 15% 10% 15% 40% 10% 10%;
}

.table {
  /* width:80%; */
  border: 1px solid black;
  margin-top: 30px;
}
.thead {
  position: relative;
  top:0;
  left:0;
  display:flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.tbody {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.theading {
  flex-basis: 15%;
  display:inline-block;
  font-weight: 600;
  padding:10px;
 
}
  .theading:nth-last-child(1),
.cell:nth-last-child(1) {
  flex-basis: 10%;
}
  .theading:nth-child(1),
.cell:nth-child(1) {
  flex-basis: 10%;
}
  .theading:nth-child(2),
.cell:nth-child(2) {
  flex-basis: 25%;
}

.trow {
  display:flex;
}
#teamName {
  font-weight: bold;
}
.cell {
 flex-basis: 15%;
 display: flex;
 padding: 10px;
 overflow: hidden;
 border-right: 1px solid black;
 overflow: hidden;
 justify-content: center;
 align-items: center;
}

.cell:nth-last-child(1) {
  border-right: 0 solid #FFF;
}
.cell:nth-first-child(1) {
  flex-basis: 8%; 
}

