

.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.team {

  background-color: green;

}

.leftNav {
  width: 20%;
  height: 100vh;
  position: fixed;
  float: left;
}
.section {
  width:80%;
  float:right;
}


.table {
  width:80%;
  border: 1px solid black;
  margin-top: 30px;
}
.thead {
  position: relative;
  top:0;
  left:0;
  display:flex;
  justify-content: space-between;
}
.theading {
  flex-basis: 15%;
  display:inline-block;
  font-weight: 600;
  margin: 0 10px;
}
.trow {
  display:flex;
}
.cell {
  flex-basis: 15%;
  display:inline-block;
  margin: 0 10px;
}

